﻿<!DOCTYPE html>
<html ng-app="app">
<head>

    <meta charset="utf-8" />
    <title></title>

    <link href="Content/bootstrap.min.css" rel="stylesheet" />

</head>
<body class="container" ng-controller="estoque-controller">

    <h2>Cadastro de Estoque</h2>
    <hr />

    <div class="row">
        <div class="col-md-4">

            <label>Nome do Estoque:</label>
            <input type="text" class="form-control" placeholder="Digite Aqui" ng-model="model.nome" />
            <br />
            <button class="btn btn-success" ng-click="cadastrar()">Cadastrar Estoque</button>
            <br />
            <br />
            <strong>{{mensagem}}</strong>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <table class="table table-hover table-bordered" ng-init="consultar()">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nome de Estoque</th>
                        <th>Quantidade de Produtos</th>
                        <th>Operações</th>
                    </tr>
                </thead>
              <tbody>
                  <tr ng-repeat="e in estoques">
                      <td>{{e.IdEstoque}}</td>
                      <td>{{e.Nome}}</td>
                      <td>{{e.QuantidadeProdutos}}</td>
                        <td>
                            <button class="btn btn-primary btn-sm" 
                                    data-target="#janelaedicao" 
                                    data-toggle="modal"
                                    ng-click="obterporid(e.IdEstoque)">Atualizar </button>

                            <button class="btn btn-danger btn-sm"
                                    data-target="#janelaexclusao"
                                    data-toggle="modal"
                                    ng-click="obterporid(e.IdEstoque)">Excluir </button>
                        </td>
                  </tr>
              </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">Total de Registros: {{estoques.length}}</td>
                    </tr>
                </tfoot>
            </table>


        </div>
    </div>


    <div id="janelaexclusao" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-danger">
                    <h3> Exclusão de Estoque</h3>
                </div>
                <div class="modal-body">

                    Código: <strong>{{estoque.IdEstoque}}</strong>
                    <br />

                    Nome do Estoque: <strong>{{estique.Nome}}</strong>
                    <br />

                    Quantidade de Produtos:
                    <strong>{{estoque.QuantidadeProdutos}}</strong>

                </div>

                <div class="modal-footer">
                
                    <button class="btn btn-default" data-dismiss="modal"> Cancelar Operação</button>

                    <button class="btn btn-danger" data-dismiss="modal" ng-click="excluir()"> Confirmar Exclusão</button>
               
                </div>
            </div>
        </div>
    </div>

    <div id="janelaedicao" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h3>
                        Atualizar Estoque
                    </h3>
                </div>
                <div class="modal-body">

                    <label>Nome do Estoque:</label>
                    <input type="text" class="form-control" ng-model="estoque.Nome"/>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal"> Cancelar Operação </button>
                
                    <button class="btn btn-primary" data-dismiss="modal" ng-click="atualizar()"> Confirmar Alterações </button>
                </div>
            </div>
        </div>
    </div>

    <script src="Scripts/jquery-3.0.0.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/angular.min.js"></script>

    <script>

        var app = angular.module("app", []);

        var urlBase = "http://localhost:58975/api/estoque";

        app.controller("estoque-controller", function ($scope, $http) {

            $scope.cadastrar = function () {
           
                $scope.mensagem = "Enviando Requisição...";

                $http.post(urlBase + "/cadastrar", $scope.model)
                        .then(function (d) {

                            $scope.mensagem = d.data;
                            $scope.model = {};

                        })

                        .catch(function(e) {

                            $scope.mensagem = e.data;

                        });  
            };

            $scope.consultar = function () {

                $http.get(urlBase + "/obtertodos")
                    .then(function (d) {

                        $scope.estoques = d.data;

                    })
                    .catch(function (e) {

                        $scope.mensagem = e.data;

                    });
            };

            $scope.obterporid = function (id) {

                $http.get(urlBase + "/obterporid?id=" + id)
                    .then(function (d) {
                        $scope.estoque = d.data;
                    })
                    .catch(function (e) {
                        $scope.mensagem = e.data;
                    }); 
            };

            $scope.excluir = function () {

                $http.delete(urlBase + "/excluir?id=" + $scope.estoque.IdEstoque)
                    .then(function (d) {
                        $scope.mensagem = d.data;
                        $scope.consultar();
                    })
                    .catch(function (e) {
                        $scope.mensagem = e.data;
                    })
            };

            $scope.atualizar = function () {

                $http.put(urlBase + "/atualizar", $scope.estoque)
                    .then(function (d) {
                        $scope.mensagem = d.data;
                        $scope.consultar();
                    })
                    .catch(function (e) {
                        $scope.mensagem = e.data;   
                    })
            };


        });

    </script>

</body>
</html>